<p-card>
  <p-toast />
  <ng-template pTemplate="title">
    <h2>Definições de alertas em projetos</h2>
  </ng-template>

  <p-card class="custom-card" header="1º Porcentagem">
    <div class="p-grid">
      <div class="p-col-12 p-md-6">
        <div class="mb-4">
          <label for="colaboradorInput" class="block font-semibold mb-2">
            Definição Porcentagem
          </label>

          <p-inputNumber
            [(ngModel)]="valorPorcentagem1"
            mode="decimal"
            inputId="withoutgrouping"
            [useGrouping]="false"
            suffix="%"
            max="100"
            [disabled]="desabilitar"
          ></p-inputNumber>
        </div>
      </div>

      <div class="p-col-12 p-md-6">
        <div class="mb-4">
          <label for="colaboradorInput" class="block font-semibold mb-2">
            Descrição do E-mail
          </label>

          <textarea
            rows="3"
            cols="30"
            pInputTextarea
            [(ngModel)]="textoPorcentagem1"
            class="custom-textarea"
          ></textarea>
        </div>
      </div>
    </div>
  </p-card>

  <br />
  <p-card class="custom-card" header="2º Porcentagem">
    <div class="p-grid">
      <div class="p-col-12 p-md-6">
        <div class="mb-4">
          <label for="colaboradorInput" class="block font-semibold mb-2">
            Definição Porcentagem
          </label>

          <p-inputNumber
            [(ngModel)]="valorPorcentagem2"
            mode="decimal"
            inputId="withoutgrouping"
            [useGrouping]="false"
            suffix="%"
            max="100"
            [disabled]="desabilitar"
          ></p-inputNumber>
        </div>
      </div>

      <div class="p-col-12 p-md-6">
        <div class="mb-4">
          <label for="colaboradorInput" class="block font-semibold mb-2">
            Descrição do E-mail
          </label>

          <textarea
            rows="3"
            cols="30"
            pInputTextarea
            [(ngModel)]="textoPorcentagem2"
            class="custom-textarea"
          ></textarea>
        </div>
      </div>
    </div>
  </p-card>

  <br />
  <p-card class="custom-card" header="3º Porcentagem">
    <div class="p-grid">
      <div class="p-col-12 p-md-6">
        <div class="mb-4">
          <label for="colaboradorInput" class="block font-semibold mb-2">
            Definição Porcentagem
          </label>

          <p-inputNumber
            [(ngModel)]="valorPorcentagem3"
            mode="decimal"
            inputId="withoutgrouping"
            [useGrouping]="false"
            suffix="%"
            max="100"
            [disabled]="desabilitar"
          ></p-inputNumber>
        </div>
      </div>

      <div class="p-col-12 p-md-6">
        <div class="mb-4">
          <label for="colaboradorInput" class="block font-semibold mb-2">
            Descrição do E-mail
          </label>

          <textarea
            rows="3"
            cols="30"
            pInputTextarea
            [(ngModel)]="textoPorcentagem3"
            class="custom-textarea"
          ></textarea>
        </div>
      </div>
    </div>
  </p-card>

  <br />
  <div class="col-12 flex flex-column align-items-end">
    <button
      pButton
      pRipple
      (click)="enviar()"
      label="Gravar"
      [disabled]="desabilitar"
      class="p-button-success"
    ></button>
  </div>
</p-card>
