<p-card>
  <p-toast />
  <ng-template pTemplate="title">
    <h2>Definições de alertas em projetos</h2>
  </ng-template>

  <div *ngFor="let alerta of listaAlertas; let i = index">
    <p-card class="custom-card" header="{{ i + 1 }}º Porcentagem">
      <div class="p-grid">
        <div class="p-col-12 p-md-6">
          <div class="mb-4">
            <label
              for="porcentagemInput{{ i }}"
              class="block font-semibold mb-2"
            >
              Definição Porcentagem
            </label>

            <p-inputNumber
              [(ngModel)]="alerta.porcentagem"
              mode="decimal"
              inputId="porcentagemInput{{ i }}"
              [useGrouping]="false"
              suffix="%"
              max="100"
              [disabled]="desabilitar"
            ></p-inputNumber>
          </div>
        </div>

        <div class="p-col-12 p-md-6">
          <div class="mb-4">
            <label for="mensagemInput{{ i }}" class="block font-semibold mb-2">
              Descrição do E-mail
            </label>

            <textarea
              id="mensagemInput{{ i }}"
              rows="3"
              cols="30"
              pInputTextarea
              [(ngModel)]="alerta.mensagem"
              class="custom-textarea"
              [disabled]="desabilitar"
              maxlength="1000"
            ></textarea>

            <div class="contador">
              {{ alerta.mensagem?.length || 0 }} / 1000
            </div>
          </div>
        </div>
      </div>

      <br />
      <div class="botao-excluir">
        <button
          pButton
          pRipple
          (click)="excluirLinha(i)"
          [text]="true"
          [plain]="true"
          label="Excluir"
          [disabled]="desabilitar || listaAlertas.length <= 1"
          severity="danger"
          icon="pi pi-trash"
        ></button>
      </div>
    </p-card>
  </div>

  <br />
  <div class="col-12 flex justify-content-end gap-2 mt-3">
    <button
      pButton
      pRipple
      (click)="adicionaLinha()"
      label="Adicionar Alerta"
      [disabled]="desabilitar || listaAlertas.length < 1"
    ></button>

    <button
      pButton
      pRipple
      (click)="enviar()"
      label="Gravar"
      [disabled]="desabilitar || listaAlertas.length < 1"
      class="p-button-success"
    ></button>
  </div>
</p-card>
