.custom-textarea {
  line-height: 1.8rem !important;
  resize: vertical;
  width: 100%;
}

.custom-card {
  position: relative;
}

.botao-excluir {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

.contador {
  margin-top: 4px;
  font-size: 0.85rem;
  color: #666;
  text-align: right;
}
